<div class="d-flex justify-content-center">
    <nav>
        <ul class="pagination">
            @for (int i = 1; i <= TotalPages; i++)
            {
                <li class="page-item @(i == CurrentPage ? "active" : "")">
                    <button class="page-link" @onclick="() => OnPageChanged.InvokeAsync(i)">@i</button>
                </li>
            }
        </ul>
    </nav>
</div>

@code {
    [Parameter] public int TotalPages { get; set; }
    [Parameter] public int CurrentPage { get; set; }
    [Parameter] public EventCallback<int> OnPageChanged { get; set; }
}